* {
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0 auto;
    padding: 0;
    color: #000;
}

.robot-board{
    padding: 10px;
    margin: 0;
    margin-left: 20px;
    margin-bottom: 20px;
    height: auto;
    width: 85vw;
    border: 1px solid black;
}
.robot-board > div{
    float:left;
}