* {
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0 auto;
    padding: 0;
    color: #000;
    text-align: center;
}
.title {
    margin-top:50px;
    text-align: center;
    font-size: 36px;
}